@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-900: 62, 123, 166;
    --color-primary-800: 127, 165, 201;
    --color-primary-200: 204, 225, 250;
    --color-primary-100: 248, 244, 243;

    --color-text: 33, 33, 33;
    --color-paragraph: 30, 30, 30;
    --color-icon: 33, 33, 33;

    --color-success-500: 61, 193, 60;
    --color-success-100: 206, 239, 206;

    --color-warning-500: 243, 187, 27;
    --color-warning-100: 252, 238, 198;

    --color-error-500: 252, 0, 0;
    --color-error-100: 255, 186, 186;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-iranYekan);
  min-height: 100vh;
  user-select: text;
  background-color: #dce4fb;
}

html,
body {
  height: 100%;
  margin: 0;
}



@layer components {
  .form {
    @apply flex w-full max-w-lg flex-col gap-y-8 rounded-2xl bg-primary-100 p-4;
  }
  .textField__input {
    @apply w-full border border-primary-100 bg-primary-100 p-4 text-primary-900 transition-all duration-300 ease-out hover:border-primary-800 focus:border-primary-800 focus:bg-primary-100 focus:shadow-lg focus:shadow-primary-200 dark:focus:shadow-primary-200;
  }
  .btn {
    @apply rounded-xl px-3 py-3 transition-all duration-300;
  }
  .btn--primary {
    @apply bg-primary-900 text-primary-100 hover:bg-primary-800;
  }
  .btn--primary {
    @apply bg-primary-200 text-primary-100;
  }
  .btn--outline {
    @apply border border-primary-100 text-primary-200;
  }
  .btn--danger {
    @apply border border-rose-700 text-rose-700;
  }
  .badge {
    @apply inline-block whitespace-nowrap rounded-xl px-2 py-0.5;
  }
  .badge--primary {
    @apply bg-primary-100 text-primary-900;
  }
  .badge--primary {
    @apply bg-primary-100 text-primary-800;
  }
  .badge--success {
    @apply bg-green-200 text-green-600;
  }
  .badge--danger {
    @apply bg-error-500 text-error-500;
  }

  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid rgb(var(--color-primary-900));
    border-right-color: rgb(var(--color-primary-200));
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid rgb(var(--color-primary-200));
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

.rti--container {
  background-color: rgb(var(--color-primary-100));
  --rti-radius: 0.375rem;
  --rti-s: 0.5rem;
  --rti-tag: #edf2f7;
  --rti-tag-remove: #e53e3e;
  border: none;
}
.rti--container .rti--input {
  background-color: rgb(var(--color-primary-200));
  color: rgb(var(--color-primary-800));
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
}

.rti--tag {
  background-color: rgb(var(--color-primary-500));
  color: rgb(var(--color-primary-100));
}

button {
  cursor: pointer;
  outline: none;
}
button:disabled {
  cursor: not-allowed;
  background-color: rgb(var(--color-primary-300), 0.5);
  color: rgb(var(--color-primary-700), 0.5);
  pointer-events: none;
  box-shadow: none;
}

/* inupt number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* TABLE */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table td,
table th {
  text-align: right;
  white-space: nowrap;
}

table th {
  font-weight: 1000;
  padding: 1rem 1.5rem;
  color: #1e2a44;
  font-size: 0.9rem;
}
a {
  display: block;
}
table td {
  font-weight: 800;
  font-size: 0.85rem;
  padding: 1rem 1.5rem;
  color: #1e2a44;
}

/* comment  indicator */

.post-comments .post-comments__answer {
  position: relative;
}
.post-comments .post-comments__answer::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: -15px;
  top: -13px;
  width: 3px;
  background-color: rgb(var(--color-primary-200));
}

.post-comments .post-comments__answer .answer-item::before {
  content: "";
  display: block;
  height: 3px;
  position: relative;
  right: -31px;
  top: 57px;
  width: 15px;
  background-color: rgb(var(--color-primary-200));
  z-index: 10;
}

.post-comments .post-comments__answer .last-item:after {
  content: "";
  display: block;
  height: calc(100% - 80px);
  position: absolute;
  right: -15px;
  top: 76px;
  width: 4px;
  background-color: rgb(var(--color-primary-200));
}

@media (max-width: 640px) {
  .post-comments .post-comments__answer::before {
    display: none;
  }
  .post-comments .post-comments__answer .answer-item::before {
    width: 3px;
    height: 14px;
    right: 11px;
    top: -13px;
    position: absolute;
  }
}
